* {
  background-color: #ef6493;
}
h1{
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
a {
  background-color: white;
}
.navList{
  display: inline-block;
  padding: 6px;
  float: left;
  position: relative;
  background-color: White;
  font-family: 'Dosis', sans-serif;
  width: auto;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
nav {
  height: 50px;
  margin-left: 30%;
  margin-right: 30%;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  background-color: White;
}
td {
  width: 60px;
  height: 30px;
  text-align: center;
}
.fishPic {
  display: block;
  margin: auto;
  width: 58%;
  margin-bottom: 130px;
}
.tableElement {
  display: block;
  margin: auto;
  width: 55%;

}
.tableBorder {
  border: 1px solid black;
  margin: auto;
  background-color: White;
  font-family: 'Playfair Display', serif;
}
.topRow {
  color: White;
  background-color: Black;
}
.totalsTotal {
  background-color: #40f792;
}
.totalsStore {
  background-color: #ff8e8e;
}
.hTotal {
  background-color: #ffe8bc;
}
.sidebar {
  display: block;
  width: 15%;
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: White;
  border: 1px solid black;
  padding: 10px;

}
.side {
  background-color: white;
}
#addStore {
  display: block;
  width: 15%;
  position: absolute;
  right: 10px;
  top: 80px;
  background-color: White;
  border: 1px solid black;
  padding: 30px;
  height: 300px;
}
.input {
  background-color: White;
}
h2 {
  background-color: White;
}
form {
  background-color: White;
}
#addStoreSubmit {
  display: block;
  position:absolute;
}
